{% block content %}

<h2> Create your student account </h2>
<form action ="" method ="post">
  <p>
    {{form.student_name.label}}<br>
    {{form.student_name(size=30)}}
  </p>
  <p>
    {{form.student_mail.label}}<br>
    {{form.student_mail(size=30)}}
  </p>
  <p>
    {{form.student_group.label}}<br>
    {{form.student_group(size=5)}}
  </p>
  <p>
    {{form.login.label}}<br>
    {{form.login(size=30)}}
  </p>
  <p>
    {{form.sudent_pass.label}}<br>
    {{form.sudent_pass(size=30)}}
  </p>
  <p>{{form.submit()}}</p>
</form>

{%endblock %}